@import "@central-tour/config/styles/globals.css";
@import "sonner/dist/styles.css";

:root {
  --primary: #4765ff;
  --primary-foreground: oklch(0.985 0 0);
  --ring: #4765ff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --primary: oklch(0.62 0.19 264);
    --primary-foreground: oklch(0.145 0 0);
  }
} */

